@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 8pt;
  }

a,
pre,
blockquote,
p,
h2,
h3 {
      width: 90%;
      font-size: 12pt;
      margin: 0 auto;
      line-height: 150%;
    }


  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  font-size: small;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

}


html {
  font-size: 12px;
  background: #3b444b;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 13px;
  }
    blockquote p {
  font-size: 0.7rem;
  font-style: normal;
  text-align: justify;
  line-height: 1.3em;
  margin: 1rem auto 1rem;
  padding: 20px 20px 20px 20px;
  max-width: 41rem;
  background: #fafafa url(quote.gif) no-repeat; color: #666; 
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 14px;
  }
    blockquote p {
  font-size: 0.7rem;
  font-style: normal;
  text-align: justify;
  line-height: 1.3em;
  margin: 1rem auto 1rem;
  padding: 20px 20px 20px 20px;
  max-width: 41rem;
  background: #fafafa url(quote.gif) no-repeat; color: #666; 
  }
}



body {
  line-height: 1.85;
  background: #ffffff;
}

p,
.splendor-p {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
  text-align: justify;
}

h1,
.splendor-h1,
h2,
.splendor-h2,
h3,
.splendor-h3,
h4,
.splendor-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.splendor-h1 {
  margin-top: 0;
  font-size: 2.598rem;
}

h2,
.splendor-h2 {
  font-size: 1.867rem;
}

h3,
.splendor-h3 {
  font-size: 1.500rem;
}

h4,
.splendor-h4 {
  font-size: 1.300rem;
}

h5,
.splendor-h5 {
  font-size: 1.121rem;
}

h6,
.splendor-h6 {
  font-size: .88rem;
}

small,
.splendor-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,300);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: Georgia, serif;
margin-left: auto;
margin-right: auto;
  max-width: 940px;
}

/* === A bit of a gross hack so we can have bleeding divs/blockquotes. */

p,
*:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
  margin: 1rem auto 1rem;
  max-width: 47rem;
  padding: .05rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
}

blockquote p {
  font-size: 1.1rem;
  font-style: normal;
  text-align: justify;
  line-height: 1.6em;
  margin: 1rem auto 1rem;
  padding: 30px 30px 30px 30px;
  max-width: 41rem;
  background: #fafafa url(quote.gif) no-repeat; color: #666; 
}

li {
  margin-left: 2rem;
}

/* Counteract the specificity of the gross *:not() chain. */

h1 {
  padding: 0.9rem 0 !important;
}

/*  === End gross hack */

p {
  color: #333333;
  height: auto;
  line-height: 1.45;
}

pre,
code {
  font-family: Georgia, Menlo, Monaco, "Courier New", monospace;
}

pre {
  background-color: #fafafa;
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #3366ff;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #d86d4e;
  text-decoration: underline;
}

table, th, td {
  border: 0px;
  font-size: normal;
  font-weight: 400;
}