/* Latin Modern — GUST e-foundry (com base no Computer Modern de Donald Knuth)
   Licença: GUST Font License (livre, ver assets/fonts/LICENSE/) */

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('../fonts/lmroman-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('../fonts/lmroman-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('../fonts/lmroman-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('../fonts/lmroman-bolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Latin Modern Sans';
  src: url('../fonts/lmsans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Sans';
  src: url('../fonts/lmsans-oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Sans';
  src: url('../fonts/lmsans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Latin Modern Mono';
  src: url('../fonts/lmmono-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Mono';
  src: url('../fonts/lmmono-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
